@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

$dark_orange: #d87d4a;
$light_orange: #fbaf85;
$white: #ffffff;
$black: #000000;
$dark: #101010;
$dirty_white: #f1f1f1;
$light_white: #fafafa;
$border_color: #2c2c2c;

@mixin align-center {
  display: flex;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

header {
  height: 90px;
  background-color: $dark;
  justify-content: space-between;
  padding: 0 24px;
  @include align-center;
  border-bottom: 1px solid $border_color;

  h1 {
    color: $white;
    @media screen and (min-width: 750px) {
      order: -1;
    }
  }

  div.header_container {
    @include align-center;
    gap: 20px;

    nav {
      position: relative;
      ul.desktop_ver {
        display: none;
        list-style: none;
        gap: 34px;

        a {
          color: $white;
          text-decoration: none;
        }
        @media screen and (min-width: 750px) {
          display: flex;
        }
      }
      ul.mobile_ver {
        display: none;
        position: absolute;
        top: 18px;
        background-color: $light_white;
        list-style: none;

        &:hover {
          display: block;
        }

        a {
          text-decoration: none;
          color: $dark;
        }
      }
    }
  }

  svg.burger_menu {
    @media screen and (min-width: 750px) {
      display: none;
    }

    &:hover ~ ul.mobile_ver {
      display: block;
    }
  }
}

// section first
.first {
  height: 510px;
  width: 100%;
  background-color: $dark;
  @include align-center;
  justify-content: center;

  .texts {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    gap: 24px;
    align-items: center;
    @media screen and (min-width: 750px) {
      width: 100%;
    }

    h3 {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 10px;
      color: $white;
      opacity: 49%;
    }
    h2 {
      font-size: 36px;
      font-weight: 700;
      color: $white;
      line-height: 40px;
      letter-spacing: 1.29px;
    }
    p.exprience {
      font-size: 15px;
      font-weight: 400;
      color: $white;
      opacity: 75%;
    }

    button {
      background-color: $dark_orange;
      width: 160px;
      height: 48px;
      color: $white;
      font-weight: 700;
      font-size: 13px;
      border: none;
    }
  }
}

// section second
.second {
  @include align-center;
  flex-direction: column;
  .card {
    width: 327px;
    height: 165px;
    background-color: $dirty_white;
    position: relative;
    padding-top: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 92px;

    img {
      width: 80px;
      height: 104px;
      position: absolute;
      //   top: -50px;
      bottom: 100px;
    }
    h4 {
      margin-bottom: 17px;
    }
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: $black;
        opacity: 50%;
      }
    }
  }
}
